:root {
    --background-gradiente-color-1: #f9583c;
    --background-gradiente-color-2: #fc8d3f;
    --background-gradiente-color-3: #fdd06b;
    --elements-color: #3c6f57;
    --elements-color-2: #fbefba;
    --text-color: #020b0c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

.container{
    width: 100vw;
    height: 300vh;
    background:
        linear-gradient(
            to bottom,
            var(--background-gradiente-color-1),
            var(--background-gradiente-color-2),
            var(--background-gradiente-color-3)
    );
}

header{
    width: 100%;
    height: 20vh;
    background-color:var(--elements-color-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    position: fixed;
}

.header-logo{
    height: 80%;
}

.header-list{
    width: 40%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    font-family: Bowlby One SC;
    font-size: 1.5vw;
}

.header-element-list:hover{
    color: #3c6f57;
}
main{
    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sobre-nos{
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    color: var(--text-color);
    font-family: Bowlby One SC;
    font-size: 2.5vw;
}

.sobre-nos p{
    width: 50%;
    color: var(--text-color);
    font-family: League Spartan;
    font-size: 2.2vw;
    text-align: justify;
}

.nosso-time{
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nosso-time-box{
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nosso-time-fotos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nosso-time-fotos-img{
    width: 30%;
    height: 100%;
}

.nosso-time-fotos-img img{
    width: 100%;
    height: auto;
}

.nosso-time-descricao{
    width: 68%; 
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nosso-time-descricao h3{
    width: 100%;
    height: 67%;
}

.nosso-time-descricao p{
    width: 100%;
    height: 28%;
}

.contatos{
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contatos img{
    width: 10%;
}

.nosso-time-descricao p {
    color: var(--text-color);
    font-family: League Spartan;
    font-size: 2.2vw;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}
a:focus,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 750px) {
    .sobre-nos p{
        width: 75%;
        font-size: 3vw;
    }
    h2{
        font-size: 3vw;
    }
    .nosso-time-box{
        width: 75%;
    }
    .header-list{
        font-size: 3vw;
        width: 70%;
    }
}
@media only screen and (max-width: 500px) {
    .sobre-nos p{
        font-size: 5vw;
    }
    h2{
        font-size: 6vw;
    }
    .header-list{
        width: 100%;
        font-size: 4vw;
    }
    .header-logo{
        display: none;
    }
    .nosso-time-box{
        width: 95%;
    }
}